@charset "utf-8";
@import url(normalize.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
  --white:#fff;
  --black:#000;
  --darkgray:#9C9C9C;
  --mediumgray:#C8C8C8;
  --lightgray:#F5F5F5;
  --priymary:#FF6600;
  --nomal:#89E5FF;
  --abnomal:#FF898B;
  --container:100%;
}

/* Style */

.container{
  width: var(--container);
}

/* TYPOGRAHY */

/*font-family: "Gasoek One", sans-serif;*/
/*font-family: "Noto Sans KR", sans-serif;*/

body{
  font: 24px/24px "Noto Sans KR", sans-serif;
  color: var(--black)
}
.main_tt{
  font : 96px/96px "Gasoek One", sans-serif;
}
.sub_tt{
  color : var(--priymary)
}
.section_tt{
  font-size:36px;
  line-height: 48px;
  font-weight: 500;
}
.section_sub_tt{
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
.nav_sub_depth{
  font-size: 18px;
}

/*HEADER*/

.top_nav{
  padding-left:51px;
  padding-right:64px;
}
.top_nav .container{
  display: flex;
  align-items: center;
  position: relative;
  height: 140px;
}
.top_nav nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top_nav .main_menu{
  display: flex;
  gap:48px;
}
.top_nav .sub_menu{
  display: flex;
  gap: 42px;
}
header h1{
  background: url(../image/common/logo_new.svg) no-repeat;
  width:273px;
  height: 57.73px;
  display: block;
  text-indent: -9999em;
  margin-right: 81px;
}
.main_menu .depth{
  position: absolute;
  top:140px;
  padding: 28px 48px 35px 22px;
  background: var(--white);
}
.main_menu .depth ul{
  margin-bottom: 21px;
}
.main_menu .depth ul li{
  margin-bottom: 18px;
}
.main_menu .depth ul li:last-child{
  margin-bottom: 0;
}
.lang {
  position: relative;
  margin-left: 43px;
}
.lang button{
  background: none;
  border: none;
  width: 71px;
}
.lang ul{
  position: absolute;
  width: 71px;
  padding-top: 13px;
  padding-left: 12px;

  box-sizing: border-box;
  background: var(--white);
}
.lang li{
  margin-bottom: 14px;
}