@charset "utf-8";
@import url(normalize.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
  --white:#fff;
  --black:#000;
  --darkgray:#9C9C9C;
  --mediumgray:#C8C8C8;
  --lightgray:#F5F5F5;
  --primary:#FF6600;
  --nomal:#89E5FF;
  --abnomal:#FF898B;
  --container:100vw;
}

/* Style */

html {
  scroll-behavior: smooth;
}
.container{
  width: var(--container);
  height: 100vh;
}
.fa-chevron-down{
  color: var(--primary);
}
.box{
  padding : 190px 13.1vw 0;
  position: relative;
}
/* TYPOGRAHY */

/*font-family: "Gasoek One", sans-serif;*/
/*font-family: "Noto Sans KR", sans-serif;*/

body{
  font: 24px/24px "Noto Sans KR", sans-serif;
  color: var(--black);
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
.main_tt{
  font : 96px/96px "Gasoek One", sans-serif;
}
.sub_tt{
  color : var(--primary);
  margin-bottom: 17px;
}
.section_tt{
  font-size:36px;
  line-height: 48px;
  font-weight: 500;
  margin-bottom: 22px;
}
.section_sub_tt{
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
.nav_sub_depth{
  font-size: 18px;
}
.Atr_main_tt{
  font : 154px/154px "Gasoek One", sans-serif;
  color: var(--darkgray);
  margin-bottom: 33px;
}
.nomal{
  color:var(--nomal)
}
.abnomal{
  color:var(--abnomal)
}
.goto{
  line-height: 48px;
  color: var(--darkgray);
  transition: 0.3s;
}
.goto:hover{
  color: var(--black);
}
.goto:hover .fa-up-right-from-square{
  color: var(--primary); 
}

/*HEADER*/
/* cookie */

.popup{
  width: 300px;
  padding: 20px;
  position: fixed;
  left: 14vw;
  top: 20vh;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
  z-index: 1;
  background: var(--white);
  font-size: 18px;
  line-height: 24px;
  display: none;
}
.popup.show{
  display: block;
}
.popup h2{
  font-weight: 700;
}
.popup hr{
  margin-top: 15px;
  margin-bottom: 15px;
}
.popup p{
  line-height: 36px;
}
.popup .cookie{
  margin-top: 25px;
  font-size: 16px;
}
.popup button{
  border: none;
  background: none;
  position: absolute;
  right: 20px;
}
body{
  position: relative;
}
.top_nav{
  padding: 38px 51px;
  width: 100%;
  height: 13.7vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  background: var(--white);
}
.top_nav nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top_nav .main_menu{
  display: flex;
  gap:48px;
}
.top_nav .main_menu > li a:hover{
  color: var(--primary);
  font-weight: 700;
  transition: 0.3s;
}
.top_nav .sub_menu{
  display: flex;
  gap: 42px;
}
header h1{
  background: url(../image/common/logo_new.svg) no-repeat;
  width:273px;
  height: 57.73px;
  display: block;
  text-indent: -9999em;
  margin-right: 81px;
}
.main_menu > li{
  position: relative;
}
.main_menu .depth{
  position: absolute;
  display: none;
  width: 250px;
  top:100%;
  padding: 90px 0 35px 22px;
  background: var(--white);
}
.main_menu > li:hover .depth {
  display: block;
}
.main_menu .depth li{
  margin-bottom: 20px;
}
.main_menu .depth li:last-child{
  margin-bottom: 0
}
.main_menu .depth .sub_depth li{
  margin-top: 18px;
}
a[class^="underline"]{
  position: relative;
  padding:0 3px 0;
  text-decoration: none;
}
a[class^="underline"]:after{
  content:'';
  position: absolute;
  border-bottom: 2px solid var(--primary);  
  transition: 0.3s;
  bottom: -7px;
}
.underline_from_left:after{
  left: 0;
  right: 100%;
}
a[class^="underline"]:hover:after{
  left: 0; right: 0;
}
.lang {
  position: relative;
}
.lang button{
  background: none;
  border: none;
  width: 71px;
}
.lang:hover button{
  color:var(--primary);
  transition: 0.3s;
}
.lang ul{
  position: absolute;
  width: 71px;
  padding-top: 13px;
  padding-left: 12px;
  box-sizing: border-box;
  background: var(--white);
  opacity: 0;
  transition: 0.3s;
}
.lang:hover ul{
  opacity: 1;
}
.lang li{
  margin-bottom: 14px;
}
.lang li:hover {
  color:var(--primary);
  cursor: pointer;
}
.menu_slider{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 65px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}
.menu_slider a{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--mediumgray);
  display: inline-block;
}
.menu_slider li{
  margin-top: 22px;
}

.weather{
  position: fixed;
  z-index: -1;
  background: var(--lightgray);
  border-radius: 10px;
  left: 0;
  top: 240px;
  width: 153px;
  height: 288px;
  text-align: center;
  padding: 27px 0 23px;
  box-sizing: border-box;
}
.weather div{
  margin-top: 28px;
}
.weather h3{
  font : 22px/22px "Gasoek One", sans-serif;
  color: var(--primary);
}
.weather h4{
  font : 20px/20px "Gasoek One", sans-serif;
}
.weather div span{
  font-size: 48px;
  line-height: 48px;
  color: var(--darkgray);
}
.weather div p{
  font-size: 16px;
  line-height: 24px;
}
@media (max-width:1400px){
  .weather{
    opacity: 0;
    transition: 0.3s;
  }
}


/* banner */
.slide_wrapper{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.slide_container {
  position: absolute;
  width:100%;
  height:100%;
}
.slide-container.animated{
  left:0;
  transition: left 0.4s ease-out;
}
.slide_wrapper li {
  position: absolute;
  left:0; 
  top: 140px;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
}
.slide1{ background-image: url(../image/banner/MAIN_banner1.jpg); }
.slide2{ background-image: url(../image/banner/MAIN_banner2.jpg); }
.slide3{ background-image: url(../image/banner/MAIN_banner3.jpg); }
.slide4{ background-image: url(../image/banner/MAIN_banner4.jpg); }
.slide5{ background-image: url(../image/banner/MAIN_banner5.jpg); }
.pager {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 52px;
  text-align: center;
}
.pager a {
  width: 14px;
  height: 14px;
  margin: 0 21px;
  border-radius: 50%;
  background: var(--mediumgray);
  text-indent: -9999em;
  display: inline-block;
}
.pager a.active{
  background: var(--white);
}

/* Scroll */

.scrolldown{
  font-family: "Gasoek One", sans-serif;
  color:var(--primary);
  width: 104px;
  position: fixed;
  bottom:48px;
  right:60px;
  text-align: center;
  z-index: 1000;
}
.scrolldown .fa-chevron-down{
  color: var(--white);
  display: block;
  transition: transform 0.3s ease;
}
.scrolldown.topMode .fa-chevron-down{
  transform: rotate(180deg);
  color: var(--primary);
}
.scrolldown.topMode{
  content: "TOP";
}

/*nowevent*/
.NE_slide_wrapper{
  position: relative;
}
.NE_show{
  margin-top: 72px;
  width: 408px;
  height: 516px;

  border: 1px var(--mediumgray) solid; 
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
  box-sizing: border-box;
  padding: 57px 44px 0;
  position: relative;
}
.NE_slide_wrapper .goto{
  position: absolute;
  display: inline-block;
  background: var(--lightgray);
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 97px;
  padding-top: 22px;
  padding-left: 44px;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.contents_title .NE_slide_wrapper .show_ex li{
  margin-bottom: 17px;
}
.contents_title .NE_slide_wrapper p{
  margin-top: 36px;
  font-size: 20px;
  line-height: 28px;
}
.NE_slide_wrapper img{
  position: absolute;
  left: 360px;
  bottom:90px;
  width: 1308px;
  height: 600px;
  z-index: -1;
  border-radius: 10px;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
}
.now_pager{
  display: flex;
  position: absolute;
  left: 470px;
  top: 460px;
  gap: 36px;
}
.now_pager li a{
  color: var(--mediumgray);
}
.now_pager li a:hover{
  color: var(--primary);
  transition: 0.3s;
}
.now_pager .swslide_depth{
  display: flex;
  margin-top: 14px;
  justify-content: center;
  gap:5px;
  opacity: 0;
}
.now_pager .swslide_depth span{
  color: var(--mediumgray);
  font-size: 14px;
}
.now_pager li:hover.active .swslide_depth{
  opacity: 1;
  transition: 0.3s;
}

/* discount */
.dis_title h2{
  margin-bottom: 32px;
}
.dis_title .goto{
  display: inline-block;
}
.discount .DIS_slide_wrapper{
  margin-top: 47px;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}
.DIS_slide_container{
  display: flex;
  gap:26px;
  width: 1414px;
}
.DIS_slide_container li{
  position: relative;
  background-position: right bottom;
  background-size: auto;
}
.DIS_slide_container li .dis_contents{
  width: 334px;
  height: 425px;
  border-radius: 10px;
  background: #FFF8DB;
}
.dis_price{
  position: absolute;
  width: 334px;
  padding: 17px 27px 0;
  height: 90px;
  background: var(--white);
  box-sizing: border-box;
  bottom:-90px;
  transition: 0.3s ease-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dis_contents:hover:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
}
.dis_li{
  z-index: 2;
}

.DIS_slide_container li:hover .dis_price{
  bottom:0;
}
.dis_contents{
  padding: 48px 24px;
  box-sizing: border-box;
}
.dis_contents h6{
  font-size: 15px;
  margin-bottom: 3px;
}
.dis_contents h5{
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  color: var(--primary);
  margin-bottom: 8px;
}
.dis_contents p{
  font-size: 15px;
}
.dis_contents p em{
  font-size: 22px;
  font-weight:500;
}
.DIS_slide_container li:hover{
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
}
.dis_contents img{
  position: absolute;
  right:28px;
  top:190px;
  background-position: center center;
}
.dis_btn{
  display: flex;
  gap: 36px;
  position: absolute;
  top: -63px;
  right: 0;
}
.dis_prev, .dis_next{
  width: 48px;
  line-height: 48px;
}
.dis_prev:hover, .dis_next:hover{
  color: var(--primary);
}

/* attribute */
.atr_title{
  position: relative;
  margin-bottom: 39px;
  color: var(--white);
}
.atr_title .sub_tt{
  color: var(--white);
}
.Atr_main{
  text-align: right;
  margin-bottom: 21px;
}
.Atr_main img{
  position: absolute;
  width: 34.1vw;
  height: 100vh;
  object-fit: cover;
  left: 0;
  top:0;
}
.atr_title {
  position: relative;
  z-index: 1;
}
.Atr_sub{
  position: relative;
  text-align: right;
  margin-bottom: 24px;
}
.Atr_sub h2{
margin-bottom: 12px;
}
.ATR_container{
  position: absolute;
  width: 864px;
  height: 196px;
  right: 0;
  display: flex;
  gap:24px;
  flex-direction: column;
  flex-wrap:wrap;
  margin-top: 21px;
  overflow: hidden;
}
.ATR_contents{
  width: 420px;
  height: 86px;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  color: var(--white);
}
.ATR_contents h3{
  margin-bottom: 6px;
}
.Atr_li{
  position: relative;
  padding: 18px 24px 14px;
  box-sizing: border-box;
}
.ATR_contents div{
  border-radius: 10px;
  content: '';
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
}
.ATR_contents div img{
  border-radius: 10px;
  position: absolute;
  width: 420px;
  height: 86px;
  right: 0;
  top: 0;
  z-index: -1;
  background-position: center center;
  object-fit:cover;
}
.ATR_wrapper{
  margin-top: 12px;
}
.ATR_btn{
  text-align: right;
}
.ATR_prev{
  position: absolute;
  right:850px;
}
.ATR_prev, .ATR_next{
  width: 48px;
  line-height: 48px;
}
.ATR_prev:hover, .ATR_next:hover{
  color: var(--primary);
}
.ATR_wrapper > a{
  position: absolute;
  right: 0;
}
.ATR_wrapper > .goto{
  position: absolute;
  top:300px;
}
.Atr_seeall{
  margin-top: 224px;
}

/* tip */
.tip_title{
  position: relative;
}
.TIP_wrappper{
  display: flex;
  width: 1414px;
  justify-content: space-between;
}
.Tip_img{
  width: 574px;
  height: 714px;
}
.tip .tip_title{
  margin-bottom: 80px;
}
.tip .box ul li{
  line-height: 53px;
  margin-bottom: 44px;
}
.Tip_contents_li a{
  color: var(--darkgray);
}
.tip .fa-up-right-from-square{
  opacity: 0;
}
.Tip_contents_li:hover a{
  color: var(--black);
  transition: 0.3s;
}
.Tip_contents_li:hover .fa-up-right-from-square{
  opacity: 1;
  color: var(--primary);
  transition: 0.3s;
}
.TIP_container {
  display: flex;
  overflow: hidden;
  width: 574px; 
  height: 714px; 
}
.Tip_contents {
  width: 574px; 
  height: 714px;
  position: absolute;
  bottom: 90px;
  border-radius: 10px;
  overflow: hidden;
}
.Tip_contents img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*etc*/
.etc{
  background: url(image/banner/etc/Ect_BG.png) left center no-repeat; 
  height: 888px;
}
.ETC_wrapper{
  position: relative;
}
.ETC_container{
  position: absolute;
  top:-115px;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 990px;
  height: 600px;
}
.ETC_wrapper .Etc_box{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, .5);
  width: 314px;
  height: 288px;
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background: var(--primary) url(image/banner/etc/icon_bg.jpg) center center no-repeat; 
}

.Etc_box img{
  position: absolute;
  right: 24px;
  top:32px;
}
.Etc_contents{
  position: absolute;
  bottom:32px;
}
.Etc_box h3{
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}
.Etc_box p{
  font-size: 18px;
  height: 0;
  opacity: 0;
}
.ETC_contents{
  overflow-y: hidden;
}
.Etc_box:hover p{
  height: 24px;
  opacity: 1;
}
.Etc_box:hover *{
  color: var(--white);
  transition: 0.2s ease-in-out;
}
.Etc_box:hover .Etc_contents{
  bottom: 59px;
  z-index: 2;
}
.Etc_box:after{
  content: '';
  border-radius: 10px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
  opacity: 0;
  transition: 0.2s;
}
.Etc_box:hover:after{
  opacity: 1;
}

/*footer*/

.ft{
  font-size: 16px;
  color: var(--darkgray);
}
footer{
  box-sizing: border-box;
  position: absolute;
  width: var(--container);
  padding: 46px 86px 53px;
  box-sizing: border-box;
  background-color: var(--lightgray);
}
.FT_container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.FT_left li:last-child{
  margin-top: 24px;
}
.FT_contents{
  display: flex;
  gap:48px
}
.FT_CR{
  display: flex;
  gap:48px
}
.FT_center{
  display: flex;
  gap:19px
}
.FT_center a{
  color: var(--darkgray);
}
.FT_center a:hover{
  color: var(--primary);
  font-weight: 600;
  transition: 0.3s;
}
.FT_right{
  display: flex;
  flex-direction: column;
  position: relative;
}
.FT_family button{
  border: none;
  background: none;
  color: var(--m);
  text-align: right;
  width: 120px;
  padding: 0;
}
.FT_family button .fa-chevron-down{
  color: var(--darkgray);
}
.FT_family ul li{
  position: absolute;
  right: 0;
  background-color: var(--mediumgray);
  width: 138px;
  height: 31px;
  line-height: 31x;
  box-sizing: border-box;
  color: var(--lightgray);
  text-align: center;
  align-items: center;
  padding: 4px 0;
  display: none;
  margin-top: 7px;
}
.FT_family:hover li{
  display: block;
}
.sns{
  position: absolute;
  top: 72px;
  right:0;
  display: flex;
  gap: 24px;
  font-size: 24px;
}
.sns li a{
  color: var(--darkgray);
}
.sns li:hover a{
  color: var(--primary);
}